:root{
    --chocotonic-green: #317d4f;
    --chocotonic-green-hover: #24673f;
    --chocotonic-grey: #d2d3d4;
    --light-mode: #EFEFEF;
}

/* General */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: var(--light-mode);
}

.App {
    min-height: 100vh;
    width: 100vw;
}

/* Header */

.logo {
    width: 50%;
}

.custom-header {
    width: 100%;
}

.shopping-cart-container {
    display: flex;
    align-items: center;
}

.shopping-cart {
    font-size: 22px
}

.category-label {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #888;
  }
  
  .category-label span {
    background-color: #fff;
    padding: 0 10px;
  }

  /* Footer */

  .footer-social-icon {
    font-size: 22px;
    color:#888
  }

  .footer-social-icon:hover {
    color: var(--chocotonic-green);
    transition: all 0.2s;
  }

  .footer-header {
    color: var(--chocotonic-green)
  }

  .footer {
    background-color: var(--chocotonic-grey);
  }

  .social-banner {
    border-bottom: 1px solid #b6b6b7;
  }

  .copyright-banner {
    background-color: var(--chocotonic-green);
    color: #efefef;
  }

  /* Sign up and Sign in Forms */

  .signup-button, .login-button {
    margin-top: 10px;
    background-color: var(--chocotonic-green);
    border-color: var(--chocotonic-green)
  }

  .signup-button:hover, .login-button:hover {
    background-color: var(--chocotonic-green-hover);
    border-color: var(--chocotonic-green-hover)
  }

  .signup-form, .login-form {
    padding: 20px;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
  }
